wrangle_exerciese.ipynb

Imports

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

# wrangle module for acquire and prepare steps
import wrangle

In [2]:
zillow_df = wrangle.wrangle_zillow()
zillow_df

(       bedroomcnt          bathroomcnt  calculatedfinishedsquarefeet  \
 29975           3                 2.00                          1238
 22486           4                 3.00                          3833
 18433           4                 2.00                          1304
 6445            4                 2.00                          1620
 17421           4                 2.00                          1963
 ...           ...                  ...                           ...
 3076            3                 2.00                          1737
 26764           3                 2.00                          1300
 22519           5                 4.50                          3728
 9386            3                 2.00                          1337
 1879            2                 2.00                          1367

        lotsizesquarefeet  taxvaluedollarcnt  yearbuilt  fips county
 29975               6969             237037       1954  6037   6037
 22486               9964             287413       2007  6037   6037
 18433               6000              66419       1959  6059   6059
 6445                9992             157617       1957  6037   6037
 17421              11049             499310       1961  6037   6037
 ...                  ...                ...        ...   ...    ...
 3076                8901             407191       1968  6059   6059
 26764               7745             268568       1954  6037   6037
 22519               3960             212968       1962  6059   6059
 9386                6150              62699       1950  6037   6037
 1879                6000             815542       2014  6059   6059

 [24940 rows x 8 columns],
        bedroomcnt          bathroomcnt  calculatedfinishedsquarefeet  \
 4336            3                 2.00                          2263
 39815           2                 1.00                           896
 137             2                 2.00                          1551
 34938           3                 2.00                          1308
 15237           4                 3.00                          2706
 ...           ...                  ...                           ...
 5884            3                 1.00                           998
 34593           3                 2.00                          1593
 26546           3                 2.00                          1286
 48461           3                 2.00                          1667
 47543           4                 2.00                          1991

        lotsizesquarefeet  taxvaluedollarcnt  yearbuilt  fips county
 4336                8884             849496       1951  6037   6037
 39815               6198             204284       1948  6037   6037
 137                 7667              78438       1947  6037   6037
 34938               7878             294366       1955  6037   6037
 15237               9436             515783       1950  6037   6037
 ...                  ...                ...        ...   ...    ...
 5884                7440             353540       1953  6059   6059
 34593               7320             213400       2007  6037   6037
 26546               6372             135979       1950  6059   6059
 48461              26383             136962       1990  6037   6037
 47543               6042             249854       1962  6037   6037

 [16628 rows x 8 columns],
        bedroomcnt          bathroomcnt  calculatedfinishedsquarefeet  \
 50666           4                 3.00                          2830
 34202           4                 3.00                          2322
 18395           5                 6.00                          8385
 1184            2                 3.00                          1631
 50118           4                 2.00                          1872
 ...           ...                  ...                           ...
 27017           3                 2.00                          1296
 21329           3                 2.00                          2087
 25819           4                 3.00                          1722
 40933           5                 3.00                          3518
 33828           5                 3.00                          2631

        lotsizesquarefeet  taxvaluedollarcnt  yearbuilt  fips county
 50666              15215            1253000       1922  6037   6037
 34202               9878             784788       1979  6037   6037
 18395              22608            7055987       2008  6059   6059
 1184                2500             496427       1974  6059   6059
 50118               8872             252328       1963  6059   6059
 ...                  ...                ...        ...   ...    ...
 27017               5423             407603       1952  6037   6037
 21329              10232             941563       1958  6037   6037
 25819               6993              94506       1965  6037   6037
 40933              19600            1159507       1956  6111   6111
 33828               4730             944325       1996  6059   6059

 [10392 rows x 8 columns])

In [3]:
query = '''
    SELECT
        prop.*,
        predictions_2017.logerror, 
        predictions_2017.transactiondate,
        air.airconditiongdesc,
        arch.architecturalstyledesc,
        build.buildingclassdesc,
        heat.heatingorsytemdesc,
        landuse.propertylandusedesc,
    From properties_2017 prop
    JOIN (
        SELECT parcelid, MAX(tansactiondate) AS max_transactiondate
        FROM predictions_2017
        GROUP BY parcelid
    ) pred USING(parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                        AND pred.mzx_tansactiondate = predictions_2017.transactiondate
    LEFT JOIN airconditiontype air USING (ariconditioningtypeid)
    LEFT JOIN architectrualstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype contruct USING (typeconstructiontypeid)
    WHERE prop.latitude IS NOT NULL
        AND prop.longitude IS NOT NULL
        AND tansactiondate <= '2017-12-31'
        AND properlanddesc....
    '''

In [4]:
def overview(df):
    print('--- Shape: {}'.format(df.shape))
    print()
    print('--- Info')
    df.info()
    print()
    print('---- Column Descriptions')
    print(df.describe(include='all'))

In [5]:
                      
def nulls_by_columns(df):
    return pd.concat([
        df.isna().sum().rename('count'),
        df.isna().mean().rename('percent')
    ], axis=1)

In [6]:
def nulls_by_rows(df):
    return pd.concat([
        df.isna().sum(axis=1).rename('n_missing'),
        df.isna().mean(axis=1).rename('percent_missing'),
    ], axis=1).value_counts().sort_index()

In [7]:
    
def handle_missing_values(df, prop_required_column, prop_required_row):
    n_required_column = round(df.shape[0] * prop_require_column)
    n_required_row = round(df.shape[1] * propr_required_row)
    df = df.dropna(axis=1, thresh=n_required_column)
    return df

In [8]:
def acquire():
    if os.path.exists('zillow.csv'):
        df = pd.read_csv('zillow.csv')
    else:
        database = n

In [9]:
def metrics(df):
    '''
    Gets the number of rows, columns, and number of rows with nulls for each column.  Also returns description for common values from table.
    '''
    rows = df.shape[0]
    cols = df.shape[1]
    nulls = df.isna().sum()
    print(f'There are {rows} rows and {cols} columns in this dataframe.')
    print(f'Plus the following nulls:\n{nulls}')
    return df.describe().T

In [10]:
def get_numbers(df):
    for column in df.columns:
        print(column)
        print(df[column].value_counts())
        print("-----------------")

In [11]:
def get_nan_cols(df, nan_percent=0.8):
    threshold = len(df.index) * nan_percent
    return [c for c in df.columns if sum(df[c].isnull()) >= threshold]

In [12]:
def summarize(df):
    metrics(df)
    get_numbers(df)
    info(df)
    return

In [14]:
nulls_by_columns(zillow_df)

AttributeError: 'tuple' object has no attribute 'isna'